@model SbmsWebApplication.Models.Product
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<h2>Product Update</h2>
@using (Html.BeginForm())
{
    <div class="card-group">
        <div class=" card card-subtitle">
            <div class="card-body">
                <div class=" form-group row">
                    @Html.Label("Name","Product Name",new {@class= "control-label col-md-4"})
                    <div class="col-md-4">
                        @Html.TextBox("Name",null,new {@class="form-control"})

                    </div>
                </div>
                
                <div class=" form-group row">
                    @Html.Label("Code", "Product Code", new { @class = "control-label col-md-4" })
                    <div class="col-md-4">
                        @Html.TextBox("Code", null, new { @class = "form-control" })

                    </div>
                </div>
                
                <div class=" form-group row">
                    @Html.Label("Name", "Product Name", new { @class = "control-label col-md-4" })
                    <div class="col-md-4">
                        @Html.TextBox("Name", null, new { @class = "form-control" })

                    </div>
                </div>
                <div class=" form-group row">
                    @Html.Label("Category", "Product Category", new { @class = "control-label col-md-4" })
                    <div class="col-md-4">
                        @Html.TextBox("Category", null, new { @class = "form-control" })

                    </div>
                </div>
                <div class=" form-group row">
                    @Html.Label("ReorderLevel", " ReorderLevel", new { @class = "control-label col-md-4" })
                    <div class="col-md-4">
                        @Html.TextBox("ReorderLevel", null, new { @class = "form-control" })

                    </div>
                </div>
                <div class=" form-group row">
                    @Html.Label("Description", " Description", new { @class = "control-label col-md-4" })
                    <div class="col-md-4">
                        @Html.TextBox("Description", null, new { @class = "form-control" })

                    </div>
                </div>
                <div class="col-md-4 pull-right col-md-offset-4">
                    <input type="submit" class="btn btn-success" value="Update" />
                </div>
            </div>  
        </div>
    </div>
}

